.surveyListWrap {
  background: var(--disabled-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .contentWrap {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    flex-grow: 1;
    padding: 2.5rem;

    h2 {
      font-size: 1.25rem;
      color: var(--primary-dark);
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyListWrap {
    .contentWrap {
      ul {
        flex-direction: column;
      }
    }
  }
}