@import '../../styles/animations.scss';

.surveyResultWrap {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    padding: 2.5rem;

    &:empty {
      background-repeat: no-repeat;
      background-image:
        linear-gradient(to right, var(--disabled-background), var(--disabled-background)),
        linear-gradient(to right, var(--disabled-background), var(--disabled-background)),
        linear-gradient(to right, var(--disabled-background), var(--disabled-background)),
        linear-gradient(to right, var(--disabled-background), var(--disabled-background)),
        linear-gradient(to right, var(--disabled-background), var(--disabled-background)),
        linear-gradient(to right, var(--disabled-background), var(--disabled-background)),
        linear-gradient(to right, var(--disabled-background), var(--disabled-background));
      background-position:
        35px 35px,
        130px 45px,
        130px 75px,
        130px 103px,
        35px 165px,
        35px 259px,
        35px 353px;
      background-size:
        80px 100px,
        calc(70% - 165px) 20px,
        calc(100% - 165px) 20px,
        calc(100% - 165px) 20px,
        calc(100% - 70px) 75px,
        calc(100% - 70px) 75px,
        calc(100% - 70px) 75px;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
        animation: shimmer 1.2s infinite;
      }
    }

    hgroup {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      h2 {
        color: var(--primary-dark);
        font-size: 1.75rem;
        font-weight: bold;
      }

      .calendarWrap {
        width: 80px;
        margin-right: 1rem;
      }
    }

    .answersList {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--white);
        color: var(--primary-dark);
        border-radius: 0.5rem;
        padding: 1rem;
        margin-top: 1rem;

        &.active {
          border: 2px solid var(--primary-light);
        }

        img {
          width: 50px;
          height: 50px;
        }

        .answer {
          font-size: 1.25rem;
          flex-grow: 1;
          margin: 0 1rem;
        }

        .percent {
          font-size: 1.875rem;
        }
      }
    }

    button {
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResultWrap {
    .contentWrap {
      &:empty {
        background-position:
          35px 35px,
          110px 45px,
          110px 75px,
          110px 103px,
          35px 165px,
          35px 250px,
          35px 333px;
        background-size:
          60px 100px,
          calc(70% - 165px) 20px,
          calc(100% - 165px) 20px,
          calc(100% - 165px) 20px,
          calc(100% - 70px) 65px,
          calc(100% - 70px) 65px,
          calc(100% - 70px) 65px;
        position: relative;
        overflow: hidden;
      }

      hgroup {
        h2 {
          font-size: 1.25rem;
        }

        .calendarWrap {
          width: 60px;
        }
      }

      .answersList {
        li {
          img {
            width: 40px;
            height: 40px;
          }

          .answer {
            font-size: 1rem;
          }

          .percent {
            font-size: 1.25rem;
          }
        }
      }

      button {
        margin-top: 1.5rem;
      }
    }
  }
}